
@{
    ViewData["Title"] = "ForgetPasswordConfirmation";
}

<h2 class="alert alert-info">ForgetPassword Confirmation</h2>
<p class="" text-center>Please check your email to reset your password.</p>
<p>@ViewBag.CallbackUrl</p>